/* =========================================== */
/* BASE / base */
/* =========================================== */

/* HERE HTML-TAGS ONLY , it should not contain class, id , or else */

a:any-link {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}