/* =========================================== */
/* BASE / base */
/* =========================================== */

/* HERE HTML-TAGS ONLY , it should not contain class, id , or else */

body {
    overflow-x: hidden;
}


a:any-link {
    text-decoration: none;
    
}

li {
    list-style-type: none;
}

img {
    // width: 100%;
}