/* =========================================== */
/* BASE / fonts */
/* =========================================== */

body {

    /* font-family: sans-serif; */
    font-family: 'Overpass', sans-serif;
    font-size: 1.2rem;
    font-style: normal; /* or italic */
    font-variant: normal; /* or small-cap */

}

.white {
    color: var(--theme-color_neutral);
}