/* =========================================== */
/* UTILITIES / ANIMATIONS */
/* =========================================== */

@keyframes apparition {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes neon {
	0% {
		text-shadow: none;
	}
	25% {
		text-shadow: 0 0 .5rem var(--theme-color_neutral);			
	}
	50% {
		text-shadow: 0 0 3rem var(--theme-color_neutral);
	}
	100% {
		text-shadow: 0 0 1rem var(--theme-color_neutral);
	}
}