/* =========================================== */
/* UTILITIES / MIXINS */
/* =========================================== */

@mixin flex_row($x-align:space-evenly, $y-align:center){
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: $x-align;
        align-items: $y-align;
}

@mixin flex_col($x-align, $y-align){
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: $x-align;
        align-items: $y-align;
}


@mixin bordure($color){
        // border: 1px solid $color;
                                                        // border-color: transparent;
}

@mixin effect_blur($pixelsOfBlur) {
        filter: blur($pixelsOfBlur);
        -o-filter: blur($pixelsOfBlur);
        -ms-filter: blur($pixelsOfBlur);
        -moz-filter: blur($pixelsOfBlur);
        -webkit-filter: blur($pixelsOfBlur);
}

@mixin background_attachment($value) {
        background-attachment: $value;
        // -webkit-background-attachment: $value;
}

@mixin background_size($value) {
        background-size: $value;
        -webkit-background-size: $value;
        
}