/* =========================================== */
/* UTILITIES / VARIABLES */
/* =========================================== */




/*
https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/
    
    According to this website, here are the sizes of devices : 
    (i personaly think that most devices have bigger sizes than that)

    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV
*/

// OTHER VARIABLES ==================================

// $pageMargin: 6vw;
$pageMargin: 2rem;
$headerMargin: 2rem;