/* =========================================== */
/* THEME / black-white-red */
/* =========================================== */

header {

}

body {
	background-color: var(--theme-color_background);

    color: var(--theme-color_neutral);
}

footer {
	background-color: $darkgray;
    border-top: 1px solid var(--theme-color_important);

    font-weight: 200;
    color: white;
}