/* =========================================== */
/* MODULES / bigquote */
/* =========================================== */

.bigquote {
    padding: $headerMargin;

    font: {
        family: inherit;
        weight: 100;
        size: 2rem;
        style: normal;    
    }

    color: var(--theme-color_neutral);

    .bigquote-text {
        text-align: justify;
    }

    .bigquote-author {
        font-size: 1.5rem;
    }
}


