/* =========================================== */
/* MODULES / bigquote */
/* =========================================== */

.bigquote {
    padding: 4rem 2rem;

    font: {
        family: inherit;
        weight: 100;
        style: normal;
        size: 1.4rem;
    }

    @include media("md","max") {
        font-size: 2rem;
    }

    color: var(--theme-color_neutral);

    .bigquote-text {
        text-align: left;
    }

    .bigquote-author {
        font-size: 1.5rem;
    }
}


