/* =========================================== */
/* MODULES / brand */
/* =========================================== */

$ratio-brand-and-name: 5.5/9.5; 

.brand {
    display: inline-block;
    margin-top: 2rem;
    margin-left: 2rem;

    @include flex_row(center, baseline);

    font-size: 65%;

    // --- 5 july 2022 : animation turned-off
	// animation-name: apparition;
	// animation-duration: 5s;

    .brand-logo {
        margin-right: -0.6em;

        height: 9.5em;

    }

    .brand-name {
        font-family: 'Overpass', sans-serif;

        font-weight: 200;
        font-size: 9.5em*$ratio-brand-and-name;
		
        // --- 5 july 2022 : animation turned-off
		// animation-name: neon;
		// animation-duration: 2s;
		

        color: white;   // in case in html, I have a .brand-name who does not contain a link.

        a, a:visited {
            color: white;  // here I redefine the color, to overwrite color-rules from the browser. 
        }
    }

    .brand-name:first-letter {
        /* the letter A of 'alinea' has been kept in html (entire name in 'h1' for Google). 
        So here I make it desapear to replace by a logo 'A' instead. */
        font-size: 0;   
    }
}

@include media("min","lg") {
    .brand{
        .brand-logo {
            height: 6rem;
        }
        
        .brand-name {
            font-size: 6rem*$ratio-brand-and-name;
        }
    }
}