.btn {
    width: fit-content(100%);
    padding: .5rem;
    
    border: none;
    text-shadow: none;
    border-radius: 5px;
    
    font-size: 1rem;

    @include flex_row(center, center);
    
    .btn-txt {
        margin: .5rem;
        font-size: 1rem;
    }

}

.btn-dark {
    @extend .btn;
    // background-color: var(--theme-color_important);
    // border: 1px solid var(--theme-color_important);
    
    // color: var(--theme-color_neutral);
    color: white;
}

.btn-outline-white {
    @extend .btn;
    background-color: transparent;
    border: 1px solid var(--theme-color_neutral);
    
    // color: var(--theme-color_neutral);
    color: white;
    
    &:hover {
        border: 1px solid var( --theme-color_form-input-border-hover);
        color: var( --theme-color_form-input-border-hover);
    }
}

.fly_bottom-right {
    
    // position: fixed;
    // bottom: 6rem;
    // right: 2rem;
}

.close-button {
    position: absolute;
    top: .3rem;
    right: .3rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    color: white;
}
