/* =========================================== */
/* MODULES / catchphrase */
/* =========================================== */

.catchphrase {
    @include flex_col(flex-start, flex-end);
    margin-top: 3rem;
    font-weight: 200;

    .catchphrase-phrase {
        font-size: 1.2rem;
        color: white;
    }

    .catchphrase-cite {
        font-size: .8rem;
        color: #aaa;
    }
}
