/* =========================================== */
/* MODULES / test */
/* =========================================== */

.incrustation_pixels {
    position: fixed;
    display: inline-block;
    top: 10px;
    right: 10px;
    color: white;
    background-color: red;
}


body::before {
    position: fixed;
    top: 0;
    left: 50%;

    background-color: red;
    color: white;
    
    @include media("min","xs") {
        content: "XS";
    }
    @include media("sm","sm") {
        content: "SM";
    }
    @include media("md","md") {
        content: "MD";
    }
    @include media("lg","lg") {
        content: "LG";
    }
    @include media("xl","max") {
        content: "XL";
    }   
}

.todo {
  color: red;
}
