.form-container {
	margin: 0 $pageMargin;

	@include flex_row(center, flex-start);

	.form {
		width: 100%;
		max-width: 27rem;

		.form-group {
			/* @include flex_row(center, center); */
			margin-bottom: 1.5rem;
			display: grid;


			/* @include media("min" , "md") { */
				grid-template-columns: 1fr;
				grid-template-rows: fit-content(100%) fit-content(100%);
			/* } */

			/* @include media("md" , "max") {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: fit-content(100%);
				column-gap: 1rem;
			} */

			.form-label {
				text-align: center;
				font-family: 'Overpass', sans-serif;
				font-size: 1.3rem;
				font-weight: 300;
			}

			/* --- for many kind of input */
			input[type="text"].form-input , input[type="email"].form-input , input[type="password"].form-input , textarea.form-input {
				border: 1px solid var(--theme-color_form-input-border);
				border-radius: 5px;

				background-color: transparent;

				height:fit-content(100%);
				padding: .5rem .3rem .3rem .3rem;

				font-size: 1.2rem;
				font-weight: 200;
				font-family: 'Overpass', sans-serif;
				color: white;

				&:hover {
					border: 1px solid var(--theme-color_form-input-border-hover);
				}
				
			}

			/* --- for textarea only */
			textarea.form-input {
				resize: vertical;
			}

			input[type="text"][disabled].form-input {
				cursor: not-allowed;
				color: hsl(0, 0%, 73%);
				font-style: italic;
				background-color: hsla(0, 0%, 34%, .5);
			}

			input[type="text"][readonly].form-input {
				cursor: not-allowed;
				color: hsl(0, 0%, 73%);
				font-style: italic;
				background-color: hsla(0, 0%, 34%, .5);
			}

			/* input[type="submit"].form-input {

			} */

			/* remove white border around any input */
			input:focus-visible {
				outline: none;
			}
		}

	}
}

/* check valid or invalid characters :  */
.form_input_text_valid , .form_input_text_valid:focus-visible{
	border: 1px solid hsl(168, 100%, 51%) !important;
}

.form_input_text_invalid , .form_input_text_invalid:focus-visible{
	border: 1px solid red !important;
	background-color: hsla(0, 100%, 50%, .3) !important;
}