.gallery {
    
    .gallery-title {
        text-align: center;
        color: var(--theme-color_important);
    }

    .gallery-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        .gallery-img {
            width: 350px;
            // height: 15vw;

            margin: 3px;
        }
    }
    
    .gallery-body-big {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        
        .gallery-img-container {
            position: relative;

            .gallery-img-big {
                width: 100%;
                // height: 15vw;

                // margin: 3px;
            }
            
            .gallery-img-btn {
                // width: 2.5rem;
                // height: 2.5rem;

                // border-radius: 100%;
                // border: 2px solid #30b9fb;
                // border: 2px solid linear-gradient(to bottom, red, black);
                // background-color: transparent;

                @include flex_row(center,center);

                &>i {
                    // margin: 1rem;
                    font-size: 2rem;
                    font-weight: 600;
                    // color: var(--theme-color_important);
                    color: white;
                    text-shadow: 0px 0px 2px black;

                    @include media("md","max"){
                        font-size: 3rem;
                    }
                }
            }
            
            .img-btn--previous {
                position: absolute;
                top: 50%;
                left: 2%;
            }

            .img-btn--next {
                position: absolute;
                top: 50%;
                right: 2%;
            }

            .gallery-img-description {
                text-align: center;

                color: var(--theme-color_neutral);
            }
        }        
    }

}