.gallery {
    position: relative; // i do that so i can use position 'absolute' on the button 'back'.

    
    .gallery-title {
        margin-top: 2rem;
        margin-bottom: .5rem;

        text-align: center;

        font-size: 2.2rem;
        font-weight: 100;
        font-variant: small-caps;
        letter-spacing: 0.5rem;

        // color: var(--theme-color_important);
        color: #FFF;

    }
 
 // si Thierry Préfère la V2:
/*
    .gallery-title {
        margin: 2rem $pageMargin;

        margin-bottom: 1.5rem;
        border-bottom: 1px solid var(--theme-color_neutral);
        
        text-align: left;
        font-size: 1.8rem;
        font-weight: 200;
        color: var(--theme-color_neutral);
    }
*/
    .gallery-body-flex {

        /* technic of Una KRAVETS : "deconstructed pancake" */
        display: flex; /* used in dec.pancake */
        flex-direction: row;
        flex-wrap: wrap; /* used in dec.pancake */
        justify-content: center; /* used in dec.pancake */
        align-content: center;
        align-items: stretch;

        // margin-bottom: 2rem;
        
        // border: 2px solid lime; // DEBUG

        .gallery-img-link {
                                        // border: 2px solid rgb(219, 28, 236); // DEBUG
            margin: 1px;
            
            /* <flex-grow> <flex-shrink>? <flex-basis> */
            flex: 1 1 250px;

            .gallery-img {
                // width: 350px; /* NOT used in dec.pancake */
                // height: 15vw; /* never used */
                
                // margin: 3px;  /* used in dec.pancake */

                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
    .gallery-body-flex2 {
        /* technic from Tim Van Damme , https://css-tricks.com/adaptive-photo-layout-with-flexbox/ */
        display:flex;
        flex-wrap: wrap;
        gap: 10px;

        .gallery-img-link {
                                        // border: 1px solid rgb(219, 28, 236); // DEBUG
            height: 30vh;
            flex-grow: 1;

            /* optional adjustement for portrait mode (phone, tablets)*/
            @media (max-aspect-ratio: 1/1) {
                height: 30vh;
            }

            .gallery-img {
                max-height: 100%;
                min-width: 100%;
                object-fit: cover;
                vertical-align: bottom;
            }

        }
        .gallery-img-link:last-child {
            flex-grow: 10;
        }

    }
    
    .gallery-body-grid {

        /* technic of Una KRAVETS : "RAM" */

        display: grid;
        grid-auto-flow: dense;
        gap: 2px; // the prefix 'grid-' has been depreciated.
        // grid-template-columns: repeat( auto-fit , minmax(250px, 1fr) );
        // grid-template-rows: repeat( auto-fit , minmax(250px, 400px) );

        $minTrack: 70px;
        $maxTrack_hor: 1fr;
        $maxTrack_vert: 1fr;

        grid-template-columns: repeat( auto-fit , minmax($minTrack, $maxTrack_hor) );
        grid-auto-columns: repeat( auto-fit , minmax($minTrack, $maxTrack_hor) );

        grid-template-rows: repeat( auto-fit , minmax($minTrack, $maxTrack_vert) );
        grid-auto-rows: repeat( auto-fit , minmax($minTrack, $maxTrack_vert) );

                                        // border: 2px solid aqua; // DEBUG

        .gallery-img-link {
                                        // border: 2px solid rgb(219, 28, 236); // DEBUG
            // margin: 1px; // removed as i used grid-gap.

            &.landscape {
                grid-column: span 4; // equivalent to width    4
                grid-row: span 3; // equivalent to height      3
            }
            &.portrait {
                grid-column: span 2; // equivalent to width     2
                grid-row: span 3; // equivalent to height       3
            }
            &.square {
                grid-row: span 3; //                            4
                grid-column: span 3; //                         4
            }

            .gallery-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                                                // opacity: .5;// DEBUG
            }
        }

    }
    
    .gallery-body-big {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        
        .gallery-img-container {
            position: relative;

            .gallery-img-big {
                width: 100%;
                // height: 15vw;

                // margin: 3px;
            }
            
            

            .gallery-img-description {
                text-align: center;

                color: var(--theme-color_neutral);
            }
        }        
    }

}

.gallery-img-btn {

    @include flex_row(center,center);

    &>i {
        // margin: 1rem;
        font-size: 2rem;
        font-weight: 600;
        // color: var(--theme-color_important);
        color: white;
        text-shadow: 0px 0px 2px black;

        @include media("md","max"){
            font-size: 3rem;
        }
    }
}

.img-btn--back {
    position: absolute;
    top: -4%;
    left: 1%;
    &>i {
        color: $lightgray;
    }
}

.img-btn--previous {
    position: absolute;
    top: 44%;
    left: 2%;
}

.img-btn--next {
    position: absolute;
    top: 44%;
    right: 2%;
}