// https://codepen.io/gregh/pen/NdVvbm?editors=0110

/*
.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

// ========= COLORS =================

// V1 ----------------------------
/* 
$color_player_fill:#fff;
$color_player_border:#fff;
$color_player_shadow : rgba(207, 30, 30, 0.69);

$color_progressBar_empty: #FCDBDB; //avant: #D8D8D8
$color_progressBar_filled: #BF503D; //avant: #44BFA3

$color_button_default: #55606E;
$color_button_circle: hsl(0, 100%, 39%);
$color_button_speaker:hsl(0, 100%, 39%);// avant: #44BFA3
*/

// V2 ----------------------------
$color_player_fill:#332323;
$color_player_border:#ad2f2f;
$color_player_shadow : rgba(207, 30, 30, 0.69);

$color_progressBar_empty: #FFF;
$color_progressBar_filled: #BD0404;

$color_button_default: #FFF;
$color_button_circle: #f30202;
$color_button_speaker:#ee5959;

// ==================================



.audio.green-audio-player {
    @include media("min","md")
    {
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    @include media("md","max")
    {
        width: 400px;
    }
    
    height: 56px;
    min-width: 300px;
    
    padding-left: 24px;
    padding-right: 24px;

    border-radius: 4px;
    background-color: $color_player_fill;
    border: 1px solid $color_player_border;
    // box-shadow: 0 4px 16px 0 $color_player_shadow;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    user-select: none;
    -webkit-user-select: none;

    .play-pause-btn {
        display: none;
        cursor: pointer;
        color: $color_button_default;
    }

    .spinner {
        width: 18px;
        height: 18px;
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
        background-size: cover;
        background-repeat: no-repeat;
        animation: spin 0.4s linear infinite;
    }

    .slider {
        flex-grow: 1;
        background-color: $color_progressBar_empty;
        cursor: pointer;
        position: relative;

        .progress {
            background-color: $color_progressBar_filled;
            border-radius: inherit;
            position: absolute;
            pointer-events: none;

            .pin {
                height: 16px;
                width: 16px;
                border-radius: 8px;
                // background-color: #44BFA3;
                background-color: $color_button_circle;
                position: absolute;
                pointer-events: all;
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
            }
        }
    }

    .controls {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 18px;
        color: $color_button_default;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        margin-left: 24px;
        margin-right: 24px;

        .slider {
            margin-left: 16px;
            margin-right: 16px;
            border-radius: 2px;
            height: 4px;

            .progress {
                width: 0;
                height: 100%;

                .pin {
                    right: -8px;
                    top: -6px;
                }
            }
        }

        span {
            cursor: default;
        }
    }

    .volume {
        position: relative;

        .volume-btn {
            cursor: pointer;

            &.open path {
                fill: $color_button_speaker;
            }
        }

        .volume-controls {
            width: 30px;
            height: 135px;
            background-color: rgba(0, 0, 0, 0.62);
            border-radius: 7px;
            position: absolute;
            left: -3px;
            bottom: 52px;
            flex-direction: column;
            align-items: center;
            display: flex;

            &.hidden {
                display: none;
            }

            .slider {
                margin-top: 12px;
                margin-bottom: 12px;
                width: 6px;
                border-radius: 3px;

                .progress {
                    bottom: 0;
                    height: 100%;
                    width: 6px;

                    .pin {
                        left: -5px;
                        top: -8px;
                    }
                }
            }
        }
    }
}

svg
{
    display: block;
}


/*
svg,
img {
    display: block;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FFAE;
    background: -webkit-linear-gradient(-65deg, #43C6AC, #F8FFAE);
    background: linear-gradient(-65deg, #43C6AC, #F8FFAE);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*/

@keyframes spin {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(1turn);
    }
}
