/* =========================================== */
/* MODULES / metronome */
/* =========================================== */

.metronome {
    padding: 1rem;

    .metronome-tempo-container {

        .metronome-tempo-header {
            margin-bottom: 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 3rem 1fr 1fr;
            gap: 1.5rem;
            grid-template-areas: 
                "tempoStart tempoStop"
                "tempoLabel tempoLabel"
                "tempoInput tempoInput"
                ;

            .metronome-tempo-start {
                background-color: hsl(113, 94%, 28%);
                grid-area: tempoStart;
                color: var(--theme-color_neutral);
                font-size: 2rem;
            }
            .metronome-tempo-stop {
                background-color: hsl(0, 94%, 36%);
                grid-area: tempoStop;
                color: var(--theme-color_neutral);
                font-size: 2rem;
            }

            .metronome-tempo-label {
                grid-area: tempoLabel;
                font-family: Arial, Helvetica, sans-serif;
                color: var(--theme-color_neutral);
            }

            .metronome-tempo-input {
                grid-area: tempoInput;
                font-family: monospace;
            }
    
        }
    }

    .metronome-pulse-container {
        width: 100%;
        height: 100%;
        display: flex;
        // flex-wrap: wrap;

        .metronome-pulse {
            flex-grow: 1;
            min-height: 100px;
            border: 1px solid white;

            /* style of number inside */
            color: var(--theme-color_background);
            font-size: 3rem;
            text-align: center;

            /* placement of number inside */
            display: grid;
            place-items: center;

            // transition: background-color .2s ease;
        }
    }
}