/* =========================================== */
/* MODULES / navbar */
/* =========================================== */

/*:y ------------------------ Navbar  */

//:g  APPLIQUER QUOI QU'IL ARRIVE ==================================
.nav {
                                            // @include bordure(red);
    width: 100%;
    // margin-right: $pageMargin;
    // margin-left: $pageMargin;
    
    padding-top: .5rem;
    padding-bottom: .5rem;



    @include flex_row(space-between, stretch);


    .nav-brand {
					                        // @include bordure(rgb(61, 255, 78));
		vertical-align:  middle;
        font-size: 2.5rem;
        color: white;
 
        span {
            position: relative;
            top: .3rem;
        }
    }

	.nav-menus {
                                        // @include bordure(orange);
        height: 100%;

		.nav-item {
                                        // @include bordure(yellow);
            @include flex_row(center, center);
				
            .nav-link {
                                        // @include bordure(blue);
                // display: inline;
                
                height: fit-content;
                font-size: 2.2rem;
                font-weight: 200;
            }
		}

    }
}

//:g UNIQUEMENT POUR LES PETITS ECRANS =============================================
@media #{$smaller-than-lg} {

    .nav {
        position: fixed;
        bottom: 0rem;
        left: 0;

        margin-right: 0;
        margin-left: 0;

        padding-top: 0;
        padding-bottom: 0;

        display: flex;
        flex-direction: column-reverse;
        // align-items: stretch;

        background-color: $darkgray;

        // .nav-brand {}

        .nav-toggler {
            // width: 3.5rem;
            // width: 5rem;
            
            // padding: .5rem .9rem;
            height: 8vh;

            // border-radius: 3rem;
            // border: 1px solid white;
            border: none;
            
            // background-color: hsla(0, 18%, 11%, 0.5);
            background-color: #3b3b3b;

            font-size: 2rem;
            text-align: center;
            color: white;

            &:active {
                border: none;
            }
        }

        .nav-menus {
            display: none;
            height: 92vh;
            
            // When button_toggler is clicked, class "show" is added and we display in flex:
            &.show {
                // @include flex_col(center,center);

                //:r i try display grid : 
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(4, 1fr);
            }

            .nav-note {
                display: none;
            }

            .nav-item {
                
                border: 1px solid #333;
                @include flex_row(center, baseline);

                .nav-link {
                    height: 100%;
                    width: 100%;

                    @include flex_row(center, center);

                    font-size: 2rem;
                    // font-weight: 400;
                    color: white;
                    text-shadow: 1px 1px 2px black;
                }

            }

            .nav-item.bg-music {
                background: {
                    image: url("https://source.unsplash.com/HwU5H9Y6aL8/200x100"); // plus tard appeler une variable.
                    size: cover;
                    repeat: norepeat;
                }
            }
            .nav-item.bg-photos {
                background: {
                    image: url("./../img/photos/from-CoppaStudio/2020.06.24/SD/alinea_00029_groupe_cropped.jpg"); // 
                    size: cover;
                    repeat: norepeat;
                    // color: hsla(0%,100%,50%,1);
                }
            }
            .nav-item.bg-actu {
                background: {
                    image: url("https://source.unsplash.com/mnypcmLnXE0/200x100"); // plus tard appeler une variable.
                    size: cover;
                    repeat: norepeat;
                }
            }
            .nav-item.bg-tour {
                background: {
                    image: url("https://source.unsplash.com/QrqeusbpFMM/200x100"); // plus tard appeler une variable.
                    size: cover;
                    repeat: norepeat;
                }
            }
            .nav-item.bg-contact {
                background: {
                    image: url("https://source.unsplash.com/PLDkBHbM3Hc/200x100"); // plus tard appeler une variable.
                    size: cover;
                    repeat: norepeat;
                }
            }
            .nav-item.bg-bio {
                background: {
                    image: url("./../img/photos/from-CoppaStudio/2020.06.24/SD/alinea_00022_nico-tatouage.jpg"); // plus tard appeler une variable.
                    size: cover;
                    repeat: norepeat;
                }
            }
            .nav-item.bg-acheter {
                background: {
                    image: url("./../img/photos/from-facebook/from_facebook_exploitables/alinea_album_madison_menu.png");
                    size: cover;
                    repeat: norepeat;
                }
            }
            
        }
    }

}

//:g UNIQUEMENT POUR LES GRANDS ÉCRANS ==================================================== 
@media #{$bigger-than-lg} {

    .nav {
        position: relative;
        top: 0;
        left: 0;
        z-index: 100;

        @include flex_row(space-between, stretch);   

        .nav-brand {
            flex-grow:1;
        }

        .nav-toggler {
            display: none;
        }

        .nav-scoring {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 101;

            height: 100%;
            width: 100%;

            padding: 0 $headerMargin;

            // background-color: rgb(146, 146, 146);

            @include flex_col(space-between, stretch);

            .nav-scoring-line {
                height: 1px;
                background-color: rgb(146, 146, 146);
            }
        }

        .nav-menus {
            flex-grow: 1;

            position: relative;
            top: 0;
            left: 0;
            z-index: 102;
            
            @include flex_row(space-evenly, center);

            .nav-item {
                // flex-grow: 1;
                /* margin-left: 2rem; */
                
                                /* background-color: darkred; */

                @include flex_row(center, center);

                .nav-link {
					padding-top: .5rem;
                    /*padding-bottom: .3rem;*/
                    color: white;      
                }

                &:hover .nav-link {
                    position: relative;
                    top: .5rem;
                    left: 0;
                    z-index: 103;

                    font-weight: 400;

                    // &:first-letter {
                        // color: $red;
                    // }
                }
			
                &.active .nav-link {
                    // border-bottom: 3px solid $red;
                
					font-weight: 600;

                }
			}

            .nav-note {
                                        // @include bordure(yellow);

                height: 1rem;
                width: 1.3rem;
                background-color: #b0b0b0;
                border-radius: 100%;

            }
        }
    }
}