.navfooter {

    .navfooter-menus {        
        display: grid;
        grid-auto-flow: columns;

        @include media("min","sm") {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
        @include media("sm","md") {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
        @include media("md","max") {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        
        padding: .5rem;

        .navfooter-item {
            text-align: center;
            margin-bottom: .3rem;

            .navfooter-link , .navfooter-link:visited {
                font-size: 1rem;
                
                @include media("md","max") {
                    font-size: 1.2rem;
                }

                &:link , &:visited {
                    color: var(--theme-color_neutral);
                }

                &:hover {
                    font-weight: 400;
                    text-decoration: underline;
                }
            }
        }
    }
}