.page-title {
    margin-top: 2rem;
    margin-bottom: 1rem;

    font-size: 3.5rem;
    font-weight: 200;
    font-variant: small-caps;
    letter-spacing: .7rem;
    text-align: center;
    color: white;
}

.img-full-page {
    width: 100%;
}