.section {

    margin: 2rem $pageMargin;

    .section-title {
        margin-bottom: 1.5rem;
        border-bottom: 1px solid var(--theme-color_neutral);
        
        text-align: left;
        font-size: 3rem;
        font-weight: 200;
        color: var(--theme-color_neutral);
    }

    .section-content {
        @include media("lg","max"){
            @include flex_row("space-between","flex-start");
        }

        .section-content-text {
            .section-content-text-message {
                margin-right: 2rem;
                margin-bottom: 1rem;

                text-align: left;

                font-size: 1.8rem;
                font-weight: 200;
                color: var(--theme-color_neutral);
            }
            
            .section-content-text-submessage {
                margin-right: 2rem;

                text-align: left;

                font-size: 1.3rem;
                font-weight: 200;
                color: var(--theme-color_discret);
            }
        }

        .section-content-img {
            @include media("min","lg"){
                width: 100%;
            }
            @include media("lg","max"){
                width: 50%;
            }
        }
    }

    
}

.section--actu {
    padding: 2rem 0;
}