.socialMedia {
    // background-image: linear-gradient(to bottom, var(--theme-color_background), var(--theme-color_important), var(--theme-color_background)); 

    background-image: linear-gradient(to bottom left, #2d1f8e, #bd1c1c);
    padding: 3rem 0;
    
    .socialMedia-slogan {
        text-align: center;
        
        font-size: 1.8rem;
        font-weight: 200;
        color: #fffdfd;

    }

    .socialMedia-link-container {
        @include flex_col(center,center);

        @include media("md","max"){
            @include flex_row(center,center);
        }

        margin: 2rem 2rem;


        .socialMedia-link {
                        // @include bordure(white);
            margin: 2rem 2rem;
            height: 120px;

            @include flex_col(center, center);

            .socialMedia-logo {

                margin: 20px;
                width: 80px;

            }
        }
    }
}

.bg-facebook {
    background-color: rgb(59, 59, 241);
}

.bg-youtube {
    background-color: red;
}

.bg-instagram {
    background-color: #f92d83;
}



.socialMedia-mini-link-container {
    width: 100%;
    margin: 1.2rem 0;

    @include flex_row(flex-start,center);

    // @include media("md","max"){
    //    @include flex_row(center,center);
    // }

    // margin: 2rem 2rem;


    .socialMedia-mini-link {
                    // @include bordure(white);
        // margin: 2rem 2rem;
        // height: 120px;

        @include flex_col(center, center);

        .socialMedia-mini-logo {

            margin-right: 30px;
            width: 40px;

        }
    }
}