/* =========================================== */
/* MODULES / test */
/* =========================================== */
.white {
    color: var(--theme-color_neutral);
}

.incrustation_pixels {
    position: fixed;
    display: inline-block;
    top: 10px;
    right: 10px;
    color: white;
    background-color: red;
}

body::before {
    position: fixed;
    top: 0;
    right: 0;

    background-color: red;
    color: white;

    content: "XS";

    // @media #{$bigger-than-sm}{ content: }  // À FINIR après correction des medias queries.
}