.topPanel {
    @include flex_col(space-between, stretch);

    &.full-height {
        // height: 92vh; // I stoppd to handle the height here. Instead I do it with Javascript using  window.innerHeight;
        // UPDATE: Doesn't work with javascript. So i re-implement the height here:
        height: 92vh;
        
        @include media("md","max"){
            height: 100vh;
        }
    }

    background: {   
        image: linear-gradient(to bottom, rgba(22, 22, 22, 0.5), rgba(84, 135, 165, 0.5)), url("../img/backgrounds/alinea_background_guitar_black.jpg");
        // color: $darkgray;
        position: 60% 50%;
        size: cover;
        repeat: no-repeat;
    }

    .topPanel-body {
        flex-grow: 1;

        width: 100%;
        padding: 0 $headerMargin;

        @include flex_col(flex-start, flex-end);
    }
}