@charset "UTF-8";
/* UTILITIES */
/* =========================================== */
/* UTILITIES / NORMALIZE */
/* =========================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =========================================== */
/* UTILITIES / MIXINS */
/* =========================================== */
/* =========================================== */
/* UTILITIES / COLORS */
/* =========================================== */
:root {
  --theme-color_important: #e40000;
  --theme-color_neutral: white;
  --theme-color_discret: #b0b0b0;
  --theme-color_background: #0e0e0e;
  --theme-color_brand: white;
}

/* =========================================== */
/* UTILITIES / VARIABLES */
/* =========================================== */
/*
https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/
    
    According to this website, here are the sizes of devices : 
    (i personaly think that most devices have bigger sizes than that)

    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV
*/
/* =========================================== */
/* UTILITIES / QUERIES */
/* =========================================== */
/* X-SM  <576>  SM <768>  MD  <992> LG  <1200> XL */
/* SM : */
/* MD : */
/* LG : */
/* XL : */
/*
je veux pouvoir utiliser de cette manière : 

en dessous de :
    @include xs {}

    @include xs-sm {}
    @include xs-sm-md {}
    @include xs-sm-md-lg {}
    @include xs-sm-md-lg-xl {}
    
    @include    sm-md-lg-xl {}
    @include       md-lg-xl {}
    @include          lg-xl {}
    @include             xl {}

Je peux peut être transformer en :

    @include media( "sm" , "max")

    @mixin media( $widthMin_arg , $widthMax_arg ) {
        
    }

*/
/* =========================================== */
/* UTILITIES / ANIMATIONS */
/* =========================================== */
@-webkit-keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes neon {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: 0 0 0.5rem var(--theme-color_neutral);
  }
  50% {
    text-shadow: 0 0 3rem var(--theme-color_neutral);
  }
  100% {
    text-shadow: 0 0 1rem var(--theme-color_neutral);
  }
}

@keyframes neon {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: 0 0 0.5rem var(--theme-color_neutral);
  }
  50% {
    text-shadow: 0 0 3rem var(--theme-color_neutral);
  }
  100% {
    text-shadow: 0 0 1rem var(--theme-color_neutral);
  }
}

.flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 767.9px) {
  .flex_2col-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flex_2col-md > * {
    width: 100% / 2;
  }
}

/* BASE */
/* =========================================== */
/* BASE / base */
/* =========================================== */
/* HERE HTML-TAGS ONLY , it should not contain class, id , or else */
a:-webkit-any-link {
  text-decoration: none;
}
a:-moz-any-link {
  text-decoration: none;
}
a:any-link {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* =========================================== */
/* BASE / fonts */
/* =========================================== */
body {
  /* font-family: sans-serif; */
  font-family: 'Overpass', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  /* or italic */
  font-variant: normal;
  /* or small-cap */
}

.white {
  color: var(--theme-color_neutral);
}

/* LAYOUTS */
/* =========================================== */
/* LAYOUTS / body */
/* =========================================== */
body {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.pageMargin {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* =========================================== */
/* LAYOUTS / header */
/* =========================================== */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header-head {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* =========================================== */
/* LAYOUTS / main */
/* =========================================== */
main {
  width: 100%;
  padding-bottom: 2rem;
}

/* =========================================== */
/* LAYOUTS / aside */
/* =========================================== */
/* =========================================== */
/* LAYOUTS / footer */
/* =========================================== */
footer {
  padding-bottom: 4rem;
  height: fit-content(100%);
}

/*

@include media("lg","") {
    
    .split_30_70 {
        // display: flex;

        &>*:first-child {
            width: 30%;
            
            
        }

        &>*:nth-child(2) {
            width: 70%;
            
      
        }
    }
}

*/
.album {
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album .album-title {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  border-bottom: 2px solid var(--theme-color_neutral);
  text-align: left;
  font-size: 2.9rem;
  font-weight: 200;
  color: var(--theme-color_important);
}

.album .album-title .album-title-mention {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: normal;
}

.album .album-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 991.9px) {
  .album .album-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.album .album-layout .album-img {
  width: 100%;
  max-width: 550px;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 991.9px) {
  .album .album-layout .album-img {
    width: 50%;
  }
}

.album .album-layout .album-img.album-img--shadow {
  -webkit-box-shadow: 6px 6px 26px #2f374f;
          box-shadow: 6px 6px 26px #2f374f;
}

.album .album-layout .musicPlateform {
  width: 100%;
}

@media screen and (min-width: 991.9px) {
  .album .album-layout .musicPlateform {
    width: 50%;
  }
}

.album .album-layout .musicPlateform .musicPlateform-message {
  margin-bottom: 2rem;
  padding: 0 2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 200;
  color: var(--theme-color_neutral);
}

.album .album-layout .musicPlateform .musicPlateform-plateforms {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 1rem;
}

.album .album-layout .musicPlateform .musicPlateform-plateforms .musicPlateform-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  width: 50%;
  min-width: 265px;
  max-width: 316px;
}

.album .album-layout .musicPlateform .musicPlateform-plateforms .musicPlateform-link .musicPlateform-logo {
  width: 100%;
  min-width: 200px;
  max-width: 316px;
}

.album .album-layout .musicPlateform .musicPlateform-plateforms .musicPlateform-link .musicPlateform-button {
  height: 100%;
  padding: 1rem 1rem;
  border-style: none;
  border-radius: 8px;
  background-color: #ffffff;
  font-family: 'Overpass', sans-serif;
  font-size: 1.3rem;
  color: #1f1f1f;
  display: none;
}

.songs {
  margin: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.songs .songs-cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8rem;
      grid-template-rows: 8rem;
  grid-auto-rows: 8rem;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 575.9px) {
  .songs .songs-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 12rem;
        grid-template-rows: 12rem;
    grid-auto-rows: 12rem;
  }
}

@media screen and (min-width: 767.9px) and (max-width: 1200px) {
  .songs .songs-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 991.9px) {
  .songs .songs-cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1199.9px) {
  .songs .songs-cards {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.songs .horizontalCard {
  width: 100%;
  min-height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #777;
  border-radius: .6rem;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 575.9px) {
  .songs .horizontalCard {
    min-height: 12rem;
  }
}

.songs .horizontalCard:hover {
  border: 3px solid var(--theme-color_neutral);
  -webkit-transition: background-size 1.5s ease-out;
  transition: background-size 1.5s ease-out;
}

.songs .horizontalCard:hover .horizontalCard-link .horizontalCard-title {
  font-size: 2rem;
  font-weight: 300;
}

.songs .horizontalCard .horizontalCard-link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.songs .horizontalCard .horizontalCard-link .horizontalCard-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  color: var(--theme-color_neutral);
  text-shadow: 0 0 .5rem black;
}

.bg-song-0 {
  background-image: url("../img/photos/album_madison_backgrounds/madison_madison.jpg");
  background-position: center center;
}

.bg-song-1 {
  background-image: url("../img/photos/album_madison_backgrounds/madison_soif.jpg");
  background-position: center center;
}

.bg-song-2 {
  background-image: url("../img/photos/album_madison_backgrounds/madison_le-placard.jpg");
  background-position: center center;
}

.bg-song-3 {
  background-image: url("../img/photos/album_madison_backgrounds/madison_lexil.jpg");
  background-position: left center;
}

.bg-song-4 {
  background-image: url("../img/photos/album_madison_backgrounds/madison_pas-dautre-monde.jpg");
  background-position: 0% 70%;
}

.bg-song-5 {
  background-image: url("../img/photos/album_madison_backgrounds/madison_post-it.jpg");
  background-position: center center;
}

.bg-song-6 {
  background-image: url("../img/photos/album_madison_backgrounds/madison_le-placard-instru.jpg");
  background-position: 100% 34%;
}

.bg-song-7 {
  background-image: url("../img/photos/album_madison_backgrounds/madison_si-tu-vas-bien.jpg");
  background-position: 100% 80%;
}

.bg-song-8 {
  background-image: url("../img/photos/album_madison_backgrounds/madison_blanc-et-noir.jpg");
  background-position: left center;
}

.bg-song-9 {
  background-image: url("../img/photos/album_madison_backgrounds/madison_des-foules-de-toi.jpg");
  background-position: left center;
}

.bg-song-10 {
  background-image: url("../img/photos/album_madison_backgrounds/madison_jai-pas-les-mots.jpg");
  background-position: left center;
}

.bg-song-11 {
  background-image: url("https://source.unsplash.com/5_Ez6yEh8EE/500x300");
  background-position: left center;
}

.songs-song-banner {
  width: 100%;
}

.songs-song-banner .horizontalCard-title--big {
  position: relative;
  left: -1rem;
  font-size: 3rem !important;
  font-weight: 300;
}

.lyrics {
  margin-top: 2rem;
  text-align: center;
}

.lyrics .lyrics-paragraph.verse {
  font-weight: 100;
  color: var(--theme-color_neutral);
}

.lyrics .lyrics-paragraph.chorus {
  font-weight: 600;
  color: var(--theme-color_neutral);
}

.lyrics .lyrics-paragraph .lyrics-sentence {
  font-size: 1rem;
}

@media screen and (min-width: 575.9px) {
  .lyrics .lyrics-paragraph .lyrics-sentence {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 767.9px) {
  .lyrics .lyrics-paragraph .lyrics-sentence {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 991.9px) {
  .lyrics .lyrics-paragraph .lyrics-sentence {
    font-size: 1.8rem;
  }
}

.tour {
  margin: 3rem 2rem;
  color: var(--theme-color_neutral);
}

.tour .tour-title {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--theme-color_neutral);
  font-size: 3rem;
  font-weight: 200;
  text-align: left;
}

.tour .tour-body .tour-event {
  max-width: 70rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: fit-content(100%);
  margin-bottom: 3.5rem;
  border-left: 3px solid var(--theme-color_important);
  padding-left: 1rem;
}

@media screen and (min-width: 767.9px) {
  .tour .tour-body .tour-event {
    -ms-grid-columns: 17rem 1fr 1fr;
        grid-template-columns: 17rem 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
  }
}

.tour .tour-body .tour-event .tour-event-date {
  font-size: 1.6rem;
  font-weight: 200;
}

.tour .tour-body .tour-event .tour-event-location {
  font-size: 1.6rem;
  font-weight: 200;
  color: #ff8300;
}

.tour .tour-body .tour-event .tour-event-city {
  font-size: 1.7rem;
  font-weight: 400;
  font-variant: petite-caps;
}

@media screen and (max-width: 992px) {
  .contact {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 767.9px) {
  .contact {
    width: 100%;
    padding: 3rem 2rem;
  }
}

.contact .contact-title {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--theme-color_neutral);
  text-align: left;
  font-weight: 200;
  color: var(--theme-color_neutral);
}

@media screen and (max-width: 992px) {
  .contact .contact-title {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 767.9px) {
  .contact .contact-title {
    font-size: 3rem;
  }
}

.contact .contact-link:-webkit-any-link {
  color: var(--theme-color_neutral);
}

.contact .contact-link:-moz-any-link {
  color: var(--theme-color_neutral);
}

.contact .contact-link:any-link {
  color: var(--theme-color_neutral);
}

.contact .contact-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 1rem;
}

@media screen and (min-width: 767.9px) {
  .contact .contact-body {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    grid-column-gap: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .contact .contact-body .contact-body_left-col {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.contact .contact-body .contact-body_left-col .contact-address {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 200;
  color: var(--theme-color_neutral);
}

@media screen and (max-width: 992px) {
  .contact .contact-body .contact-body_right-col {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.contact .contact-body .contact-body_right-col .contact-description {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 200;
  color: var(--theme-color_discret);
}

.musiciens {
  margin: 0 2rem;
  color: var(--theme-color_neutral);
}

.musiciens .musiciens-container {
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .musiciens .musiciens-container .musiciens-name {
    font-size: 1.4rem;
  }
  .musiciens .musiciens-container .musiciens-description {
    margin-bottom: .5rem;
    font-size: 1rem;
  }
  .musiciens .musiciens-container .musiciens-role {
    font-size: 1rem;
  }
}

.musiciens .musiciens-container .musiciens-name {
  grid-area: musiciens_name;
  border-top: 1px solid var(--theme-color_important);
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 0.6;
}

.musiciens .musiciens-container .musiciens-2col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 767.9px) {
  .musiciens .musiciens-container .musiciens-2col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.musiciens .musiciens-container .musiciens-2col .musiciens-img {
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 767.9px) {
  .musiciens .musiciens-container .musiciens-2col .musiciens-img {
    width: 50%;
  }
}

@media screen and (min-width: 1199.9px) {
  .musiciens .musiciens-container .musiciens-2col .musiciens-img {
    width: 40%;
  }
}

.musiciens .musiciens-container .musiciens-2col .musiciens-description {
  grid-area: musiciens_description;
  font-size: 1.3rem;
  font-weight: 100;
}

@media screen and (min-width: 767.9px) {
  .musiciens .musiciens-container .musiciens-2col .musiciens-description {
    width: 50%;
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1199.9px) {
  .musiciens .musiciens-container .musiciens-2col .musiciens-description {
    width: 60%;
    padding: 0 2rem;
    font-size: 1.8rem;
  }
}

.musiciens .musiciens-container .musiciens-role {
  text-align: right;
  font-size: 1.3rem;
  font-weight: 100;
  color: var(--theme-color_important);
}

.musiciens .musiciens-container .musiciens-bgphoto {
  grid-area: musiciens_photo;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-size: contain;
  -webkit-background-size: contain;
  background-repeat: no-repeat;
  background-color: gray;
}

.musiciens .musiciens-container .musiciens-bgphoto.img-thierry {
  background-image: url("../img/photos/musicians/photo_presentation_thierry.jpg");
}

.musiciens .musiciens-container .musiciens-bgphoto.img-simone {
  background-image: url("../img/photos/musicians/photo_presentation_simone.jpg");
}

.musiciens .musiciens-container .musiciens-bgphoto.img-nico {
  background-image: url("../img/photos/musicians/photo_presentation_nico.jpg");
}

.musiciens .musiciens-container .musiciens-bgphoto.img-romain {
  background-image: url("../img/photos/musicians/photo_presentation_romain.jpg");
}

.musiciens .musiciens-container .musiciens-bgphoto.img-nicole {
  background-image: url("../img/photos/musicians/photo_presentation_nicole.jpg");
}

.mentions-legales {
  margin: 0 2rem;
}

.mentions-legales .mentions-legales-text {
  font-size: 1.3rem;
  font-weight: 200;
  color: var(--theme-color_neutral);
}

.sitemap {
  margin: 2rem 2rem;
  line-height: 1.5;
  color: var(--theme-color_neutral);
}

.sitemap .sitemap-list-level1 .sitemap-item-level1 {
  list-style-type: disc;
}

.sitemap .sitemap-list-level1 .sitemap-list-level2 {
  margin-left: 2rem;
}

.sitemap .sitemap-list-level1 .sitemap-list-level2 .sitemap-item-level2 {
  list-style-type: circle;
}

.sitemap .sitemap-link:-webkit-any-link {
  text-decoration: underline;
  font-size: 1.3rem;
  font-weight: 200;
  color: var(--theme-color_neutral);
}

.sitemap .sitemap-link:-moz-any-link {
  text-decoration: underline;
  font-size: 1.3rem;
  font-weight: 200;
  color: var(--theme-color_neutral);
}

.sitemap .sitemap-link:any-link {
  text-decoration: underline;
  font-size: 1.3rem;
  font-weight: 200;
  color: var(--theme-color_neutral);
}

/* MODULES */
/* =========================================== */
/* MODULES / buttons */
/* =========================================== */
.topPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.5)), to(rgba(84, 135, 165, 0.5))), url("../img/backgrounds/alinea_background_guitar_black_SD2.jpeg");
  background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.5), rgba(84, 135, 165, 0.5)), url("../img/backgrounds/alinea_background_guitar_black_SD2.jpeg");
  background-position: 60% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.topPanel.full-height {
  height: 92vh;
}

@media screen and (min-width: 767.9px) {
  .topPanel.full-height {
    height: 100vh;
  }
}

.topPanel .topPanel-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* =========================================== */
/* MODULES / navbar */
/* =========================================== */
/*:y ------------------------ Navbar  */
.nav {
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.nav .nav-brand {
  vertical-align: middle;
  font-size: 2.5rem;
  color: var(--theme-color_brand);
}

.nav .nav-brand span {
  position: relative;
  top: .3rem;
}

.nav .nav-menus {
  height: 100%;
}

.nav .nav-menus .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-menus .nav-item .nav-link {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 2.2rem;
  font-weight: 200;
}

@media screen and (max-width: 992px) {
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: var(--theme-color_background);
  }
  .nav .nav-toggler {
    height: 8vh;
    border: none;
    background-color: #3b3b3b;
    font-size: 2rem;
    text-align: center;
    color: var(--theme-color_neutral);
  }
  .nav .nav-toggler:active, .nav .nav-toggler:focus, .nav .nav-toggler:visited, .nav .nav-toggler:focus-within {
    border: none;
    outline: none;
  }
  .nav .nav-menus {
    display: none;
    height: 84vh;
  }
  .nav .nav-menus.show {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .nav .nav-menus .nav-note {
    display: none;
  }
  .nav .nav-menus .nav-item {
    border: 1px solid #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .nav .nav-menus .nav-item .nav-link {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  .nav .nav-menus .nav-item.bg-music {
    background-image: url("https://live.staticflickr.com/8623/16342600542_397f2effcf_k.jpg");
    background-size: cover;
    background-repeat: norepeat;
  }
  .nav .nav-menus .nav-item.bg-photos {
    background-image: url("https://cdn.pixabay.com/photo/2015/06/08/15/09/photography-801891_960_720.jpg");
    background-size: cover;
    background-repeat: norepeat;
  }
  .nav .nav-menus .nav-item.bg-actu {
    background-image: url("./../img/backgrounds/optical_fiber_cable.png");
    background-size: cover;
    background-repeat: norepeat;
  }
  .nav .nav-menus .nav-item.bg-tour {
    background-image: url("https://source.unsplash.com/QrqeusbpFMM/200x100");
    background-size: cover;
    background-repeat: norepeat;
  }
  .nav .nav-menus .nav-item.bg-contact {
    background-image: url("https://source.unsplash.com/PLDkBHbM3Hc/200x100");
    background-size: cover;
    background-repeat: norepeat;
  }
  .nav .nav-menus .nav-item.bg-bio {
    background-image: url("./../img/photos/from-CoppaStudio/2020.02.07/alinea_00003_thierry.jpg");
    background-size: cover;
    background-repeat: norepeat;
  }
  .nav .nav-menus .nav-item.bg-acheter {
    background-image: url("./../img/photos/album_madison_book/00_PochetteAvant.jpg");
    background-size: cover;
    background-repeat: norepeat;
  }
}

@media screen and (min-width: 991.9px) {
  .nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .nav .nav-brand {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .nav .nav-toggler {
    display: none;
  }
  .nav .nav-scoring {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .nav .nav-scoring .nav-scoring-line {
    height: 1px;
    background-color: #929292;
  }
  .nav .nav-menus {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: relative;
    top: 0;
    left: 0;
    z-index: 102;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav-menus .nav-item {
    /* margin-left: 2rem; */
    /* background-color: darkred; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav-menus .nav-item .nav-link {
    padding-top: .5rem;
    /*padding-bottom: .3rem;*/
    color: var(--theme-color_neutral);
  }
  .nav .nav-menus .nav-item:hover .nav-link {
    position: relative;
    top: .5rem;
    left: 0;
    z-index: 103;
    font-weight: 400;
  }
  .nav .nav-menus .nav-item.active {
    border-bottom: 3px solid var(--theme-color_important);
    line-height: 0.8;
  }
  .nav .nav-menus .nav-note {
    height: 1rem;
    width: 1.3rem;
    background-color: #b0b0b0;
    border-radius: 100%;
  }
}

/* =========================================== */
/* MODULES / brand */
/* =========================================== */
.brand {
  display: inline-block;
  margin-top: 2rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 65%;
  -webkit-animation-name: apparition;
          animation-name: apparition;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.brand .brand-logo {
  margin-right: -0.6em;
  height: 9.5em;
}

.brand .brand-name {
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
  font-size: 5.5em;
  -webkit-animation-name: neon;
          animation-name: neon;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  /*text-shadow: 0 0 1rem blue;   */
  /*end of animation must match */
  color: white;
}

.brand .brand-name a, .brand .brand-name a:visited {
  color: white;
}

.brand .brand-name:first-letter {
  /* the letter A of 'alinea' has been kept in html (entire name in 'h1' for Google). 
        So here I make it desapear to replace by a logo 'A' instead. */
  font-size: 0;
}

@media screen and (max-width: 1200px) {
  .brand .brand-logo {
    height: 6rem;
  }
  .brand .brand-name {
    font-size: 3.47368rem;
  }
}

.navfooter .navfooter-menus {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: .5rem;
}

.navfooter .navfooter-menus .navfooter-item {
  text-align: center;
  margin-bottom: .3rem;
}

.navfooter .navfooter-menus .navfooter-item .navfooter-link, .navfooter .navfooter-menus .navfooter-item .navfooter-link:visited {
  font-size: .7rem;
}

@media screen and (min-width: 767.9px) {
  .navfooter .navfooter-menus .navfooter-item .navfooter-link, .navfooter .navfooter-menus .navfooter-item .navfooter-link:visited {
    font-size: 1.2rem;
  }
}

.navfooter .navfooter-menus .navfooter-item .navfooter-link:link, .navfooter .navfooter-menus .navfooter-item .navfooter-link:visited, .navfooter .navfooter-menus .navfooter-item .navfooter-link:visited:link, .navfooter .navfooter-menus .navfooter-item .navfooter-link:visited:visited {
  color: var(--theme-color_neutral);
}

.navfooter .navfooter-menus .navfooter-item .navfooter-link:hover, .navfooter .navfooter-menus .navfooter-item .navfooter-link:visited:hover {
  font-weight: 400;
  text-decoration: underline;
}

.btn, .btn-dark, .btn-outline-white {
  padding: .5rem;
  border: none;
  text-shadow: none;
  border-radius: 2rem;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*
    .btn-link {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    */
}

.btn .btn-txt, .btn-dark .btn-txt, .btn-outline-white .btn-txt {
  margin: .5rem;
  font-size: 1rem;
}

.btn-dark {
  color: white;
}

.btn-outline-white {
  color: white;
}

/* =========================================== */
/* MODULES / catchphrase */
/* =========================================== */
.catchphrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 3rem;
  font-weight: 200;
}

.catchphrase .catchphrase-phrase {
  font-size: 1.2rem;
  color: var(--theme-color_neutral);
}

.catchphrase .catchphrase-cite {
  font-size: .8rem;
  color: black;
}

.page-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 200;
  font-variant: small-caps;
  letter-spacing: .9rem;
  text-align: center;
  color: var(--theme-color_neutral);
}

.img-full-page {
  width: 100%;
}

/* =========================================== */
/* MODULES / bigquote */
/* =========================================== */
.bigquote {
  padding: 4rem 2rem;
  font-family: inherit;
  font-weight: 100;
  font-style: normal;
  font-size: 1.4rem;
  color: var(--theme-color_neutral);
}

@media screen and (min-width: 767.9px) {
  .bigquote {
    font-size: 2rem;
  }
}

.bigquote .bigquote-text {
  text-align: left;
}

.bigquote .bigquote-author {
  font-size: 1.5rem;
}

.gallery .gallery-title {
  text-align: center;
  color: var(--theme-color_important);
}

.gallery .gallery-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .gallery-body .gallery-img {
  width: 350px;
  margin: 3px;
}

.gallery .gallery-body-big {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.gallery .gallery-body-big .gallery-img-container {
  position: relative;
}

.gallery .gallery-body-big .gallery-img-container .gallery-img-big {
  width: 100%;
}

.gallery .gallery-body-big .gallery-img-container .gallery-img-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .gallery-body-big .gallery-img-container .gallery-img-btn > i {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-shadow: 0px 0px 2px black;
}

@media screen and (min-width: 767.9px) {
  .gallery .gallery-body-big .gallery-img-container .gallery-img-btn > i {
    font-size: 3rem;
  }
}

.gallery .gallery-body-big .gallery-img-container .img-btn--previous {
  position: absolute;
  top: 50%;
  left: 2%;
}

.gallery .gallery-body-big .gallery-img-container .img-btn--next {
  position: absolute;
  top: 50%;
  right: 2%;
}

.gallery .gallery-body-big .gallery-img-container .gallery-img-description {
  text-align: center;
  color: var(--theme-color_neutral);
}

/* =========================================== */
/* MODULES / interactive-flyover */
/* =========================================== */
.interactive-flyover {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 2fr;
      grid-template-columns: 4fr 2fr;
}

.interactive-flyover .interactive-flyover_img {
  width: 100%;
}

.interactive-flyover .interactive-flyover_result {
  width: 100%;
}

.interactive-flyover .interactive-flyover_result .result {
  color: var(--theme-color_neutral);
}

.lyrics .lyrics-title {
  font-size: 2rem;
  color: var(--theme-color_important);
}

.lyrics .lyrics-list .lyrics-paragraph .lyrics-sentence {
  color: var(--theme-color_neutral);
}

.lyrics .lyrics-list .lyrics-paragraph .lyrics-sentence--chorus {
  color: var(--theme-color_important);
}

.horizontalCard-title {
  font-size: 2rem;
  font-weight: 300;
}

.socialMedia {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#2d1f8e), to(#bd1c1c));
  background-image: linear-gradient(to bottom left, #2d1f8e, #bd1c1c);
  padding: 3rem 0;
}

.socialMedia .socialMedia-slogan {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 200;
  color: #fffdfd;
}

.socialMedia .socialMedia-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 2rem;
}

@media screen and (min-width: 767.9px) {
  .socialMedia .socialMedia-link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.socialMedia .socialMedia-link-container .socialMedia-link {
  margin: 2rem 2rem;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialMedia .socialMedia-link-container .socialMedia-link .socialMedia-logo {
  margin: 20px;
  width: 80px;
}

.bg-facebook {
  background-color: #3b3bf1;
}

.bg-youtube {
  background-color: red;
}

.bg-instagram {
  background-color: #f92d83;
}

.socialMedia-mini-link-container {
  width: 100%;
  margin: 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialMedia-mini-link-container .socialMedia-mini-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialMedia-mini-link-container .socialMedia-mini-link .socialMedia-mini-logo {
  margin-right: 30px;
  width: 40px;
}

.section {
  margin: 2rem 2rem;
}

.section .section-title {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--theme-color_neutral);
  text-align: left;
  font-size: 3rem;
  font-weight: 200;
  color: var(--theme-color_neutral);
}

.section .section-message {
  margin-right: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 200;
  color: var(--theme-color_neutral);
}

.section .section-text {
  margin-right: 2rem;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 200;
  color: var(--theme-color_discret);
}

.section--actu {
  padding: 2rem 0;
}

/* =========================================== */
/* MODULES / test */
/* =========================================== */
.white {
  color: var(--theme-color_neutral);
}

.incrustation_pixels {
  position: fixed;
  display: inline-block;
  top: 10px;
  right: 10px;
  color: white;
  background-color: red;
}

body::before {
  position: fixed;
  top: 0;
  left: 50%;
  background-color: red;
  color: white;
}

@media screen and (max-width: 576px) {
  body::before {
    content: "XS";
  }
}

@media screen and (min-width: 575.9px) and (max-width: 768px) {
  body::before {
    content: "SM";
  }
}

@media screen and (min-width: 767.9px) and (max-width: 992px) {
  body::before {
    content: "MD";
  }
}

@media screen and (min-width: 991.9px) and (max-width: 1200px) {
  body::before {
    content: "LG";
  }
}

@media screen and (min-width: 1199.9px) {
  body::before {
    content: "XL";
  }
}

/* STATES */
/* =========================================== */
/* STATES / states */
/* =========================================== */
.todo {
  color: red;
}

/* THEME */
/* =========================================== */
/* THEME / dark */
/* =========================================== */
/* =========================================== */
/* THEME / light */
/* =========================================== */
/* =========================================== */
/* THEME / black-white-red */
/* =========================================== */
body {
  background-color: var(--theme-color_background);
  color: var(--theme-color_neutral);
}

footer {
  background-color: #1c1c1c;
  border-top: 1px solid var(--theme-color_important);
  font-weight: 200;
  color: white;
}
/*# sourceMappingURL=main_style.css.map */