/*:r #########################  RESET */
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

a:any-link {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*:r #########################  VARIABLES */
:root {
    --gray: hsl(0, 0%, 21%);
    --lightgray: hsl(0, 0%, 37%);
    --darkgray: hsl(0, 0%, 11%);
    
    --blue: hsl(216, 100%, 50%);;
    --lightblue: hsl(216, 100%, 74%);
    --darkblue: hsl(216, 100%, 29%);;
    

    --green: hsl(150, 100%, 46%);
    --lightgreen: hsl(150, 100%, 75%);
    --darkgreen: hsl(150, 97%, 24%);

    --red: hsl(9, 100%, 50%);
    --lightred: hsl(9, 100%, 76%);
    --darkred: hsl(9, 100%, 29%);
    
    --orange: hsl(22, 100%, 56%);
    --lightorange: hsl(22, 100%, 64%);
    --darkorange: hsl(22, 100%, 37%);

    --yellow: hsl(54, 100%, 50%);
    --lightyellow: hsl(54, 100%, 74%);
    --darkyellow: hsl(54, 98%, 38%);

    --gold: hsl(44, 100%, 50%);
    --lightgold: hsl(44, 100%, 68%);
    --darkgold: hsl(44, 100%, 39%);

    --cyan: hsl(172, 100%, 37%);
    --lightcyan: hsl(172, 99%, 47%);
    --cyan: hsl(172, 100%, 24%);

}

/*:r #########################  BASE & TYPO */
body {
    height: 100vh;

    /* font-family: sans-serif; */
    font-family: 'Overpass', sans-serif;
    font-size: 1.2rem;
    font-style: normal; /* or italic */
    font-variant: normal; /* or small-cap */
}

/*:r #########################  LAYOUT */


/*:o ---------------------- mainLayout */

.pageMargin {
    padding-left: 6vw;
    padding-right: 6vw;
}

header {
    height: 100vh;
}


main {
    height: 20rem;
}


/* X-SM  <576>  SM <768>  MD  <992> LG  <1200> XL */

/* X-S : */
/* @media screen and (max-width: 576.9px) {  */





/* }  */

/*:b SM : */
@media screen and (min-width: 576px) {

}

/*:b MD : */
@media screen and (min-width: 768px) {

}

/*:b LG : */
@media screen and (min-width: 992px) {


}

/*:b XL : */
@media screen and (min-width: 1200px) {

}


/*:r #########################  MODULES */


/*
:g  petits écran :  pas de nav-toggler, juste bouton rond en bas
:g  moyen écran :  nav-toggler,  mais pas de menu en bas
:g  OU ALORS POUR PETIT ET MOYEN, uTILISER QUE LE BOUTON DU BAS.
:g  
*/

/*:y ------------------------ Navbar  */

/*:b  APPLIQUER QUOI QU'IL ARRIVE  */
.nav {
    
    padding-top: .5rem;
    padding-bottom: .5rem;

                    /* border: 1px solid red; */
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

                        background-color: hsla(0, 31.9%, 44.3%, 0.36);
}

    .nav-brand {
        font-size: 2.5rem;
        color: white;
    }


        .nav-link {
            font-size: 1.2rem;
            font-weight: 100;
        }


/*:b UNIQUEMENT POUR LES PETITS ECRANS */
@media screen and (max-width: 768px) {

    .nav {
    }

        .nav-brand {
            
        }

        .nav-toggler {
            background-color: transparent;
            color: white;
            font-size: 2rem;
            border: none;
        }

        .nav-menus {
            display: none;
        }

            .nav-item {

            }
            
                .nav-link {

                }

}

/*:b UNIQUEMENT POUR LES GRANDS ÉCRANS */
@media screen and (min-width: 768px) {

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

        .nav-brand {
                            /* border: 1px solid white; */
            flex-grow:1;
            
        }

        .nav-toggler {
            display: none;
        }

        .nav-menus {
            flex-grow: 3;
            
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            /* align-content: baseline; */
            align-items: stretch;

                            /* border: 1px solid white; */
        }

            .nav-item {
                flex-grow: 1;
                /* margin-left: 2rem;  */
                
                                /* background-color: darkred; */
                                /* border: 1px solid red; */

                display: flex;
                
                justify-content: center;
                align-items: center;
            }


                .nav-link {
                    padding-bottom: .3rem;

                    color: white;
                
                                /* border: 1px solid yellow; */
                }

                .nav-item.active .nav-link {
                    border-bottom: 3px solid var(--red);
                }
}


/*:y ------------------------ BRAND  */
.brand {
    height: 80%;
                /* border: 1px solid white; */
                /* background: white; */

    display: grid;
    place-items: center;
}

    .brand-name {
        font-family: 'Mrs Saint Delafield', cursive;
        font-weight: 200;
        font-size: 12rem;
        color: white;
    }




/*:y ------------------------ Navbar Bottom */

@media screen and (max-width: 768px) {
    .navbtm {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;

        background-color: hsl(0, 96%, 15%);
    }

        .navbtm-menus {
            /* margin: 0 1rem; */

            /* display: grid; */
            /* grid-template-columns: 1fr 1fr 1fr 1fr;  */

            display: flex;
            flex-direction: row;
            justify-content: stretch;
        }

            .navbtm-item {
                flex-grow: 1;  /* as a child */
                padding: .5rem;

                display: flex;  /* as a parent */
                flex-direction: row;
                justify-content: center;
            }
            
                .navbtm-link {
                    font-size: 10vw;
                    color: white; /* if not class 'active' */
                }

            .navbtm-item.active .navbtm-link {
                color: hsl(9, 100%, 43%);  /* if class active only */
            }

}

@media screen and (min-width: 768px) {
    .navbtm {
        display: none;
    }
}

/*:r #########################  STATES */


/*:r #########################  THEME */
header {
    background-image: url("../img/alinea_img_instrument_gtr-chevalet_001_degrade.jpg");
    background-position: 60% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    background-color: #1e1e1e;
    color: white;
}


