/* =========================================== */
/* LAYOUTS / body */
/* =========================================== */

// @use "../utilities/variables";

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.pageMargin {
    padding-left: $pageMargin;
    padding-right: $pageMargin;
}
