.grid_4 {
    display: grid;
    grid-template-rows: 12rem;
    grid-auto-rows: 12rem;
    grid-gap: 1rem;

    grid-template-columns: repeat(1,1fr);
    /* @media #{$smaller-than-sm} {
    } */

    @media #{$bigger-than-sm} {
        grid-template-columns: repeat(2,1fr);
    }
    
    @media #{$bigger-than-md} {
        grid-template-columns: repeat(2,1fr);
    }
    
    @media #{$bigger-than-lg} {
        grid-template-columns: repeat(3,1fr);
    }
    
    @media #{$bigger-than-xl} {
        grid-template-columns: repeat(4,1fr);
    }
}