/* =========================================== */
/* LAYOUTS / header */
/* =========================================== */

header {
    // height: 100vh;
    
    @include flex_col(space-between, stretch);
}

.header-head {
    flex-grow: 1;

    @include flex_col(flex-start, flex-start);
}

.header-body {
    flex-grow: 1;

    width: 100%;
    padding: 0 $headerMargin;

    @include flex_col(flex-end, flex-end);
}