.songs {
    margin: 1rem;
                // border: 1px solid red;


    @media #{$bigger-than-lg} {    
        display: flex;

        &>*:first-child {
            width: 30%;
        }

        &>*:nth-child(2) {
            width: 70%;
        }
    }

    .songs-list {
        background-color: $darkred;
    }

    .horizontalCard-container {
        @include flex_col(flex-start,stretch);

        .horizontalCard {
                        // @include bordure(blue);
            padding: .4rem 0;

            @include flex_row(center,center);

            &:hover {
                background-color: blue;
            }

            .horizontalCard-title {
                        // @include bordure(yellow);
                
                font-weight: 200;
                color: white;
            }

        }
    }

}

