.songs {
    margin: 1rem;
                // border: 1px solid red;

    .songs-list {
        // background: $darkred;
    }

    .horizontalCard-container {
                                            // @include bordure(red);
        display: grid;
        grid-template-rows: 12rem;
        grid-auto-rows: 12rem;
        grid-gap: 1rem;

            grid-template-columns: repeat(1,1fr);
        /* @media #{$smaller-than-sm} {
        } */

        @media #{$bigger-than-sm} {
            grid-template-columns: repeat(2,1fr);
        }
        
        @media #{$bigger-than-md} {
            grid-template-columns: repeat(2,1fr);
        }
        
        @media #{$bigger-than-lg} {
            grid-template-columns: repeat(3,1fr);
        }
        
        @media #{$bigger-than-xl} {
            grid-template-columns: repeat(4,1fr);
        }

        .horizontalCard {
                        // @include bordure(blue);

            width: 100%;

            @include flex_row(stretch , stretch);
            // flex-wrap: nowrap;

            background-color: #777;
            border-radius: .6rem;
            background-size: cover; // put 100% to add effect
            background-repeat: no-repeat;

            &:hover {
                // background-color: #b4b4b4;
                // background-blend-mode: screen;

                border: 3px solid white;

                transition: background-size 1.5s ease-out;
                
                // background-position: center top;
                // background-size: 120%; // in case you put 100% just higher.
            
                .horizontalCard-link {

                    .horizontalCard-title {
                        // color: $darkred;
                        font-size: 2rem;
                        font-weight: 300;
                        // text-shadow: 0 0 0rem black;
                    }
                }
            }

            
            // -------------------------

            .horizontalCard-link {
                                        // @include bordure(red);
                // width: 100%;
                flex-grow: 1;

                @include flex_row(center, center);

                .horizontalCard-title {
                                                // @include bordure(yellow);
                    
                    font-size: 2rem;
                    font-weight: 300;
                    color: white;

                    text-shadow: 0 0 .5rem black;                
                }
            }

            // song: Madison
            &.bg-song-0 {
                background-image: url("https://source.unsplash.com/9upgIKSu5w8/500x300");
                background-position: top center;
            }

            // song: Soif
            &.bg-song-1 {
                background-image: url("https://source.unsplash.com/jB8WaHvHmoY/500x300");
                background-position: left center;
            }

            // song: Le placard
            &.bg-song-2 {
                background-image: url("https://source.unsplash.com/WKP4fdQPFto/500x300");
                background-position: center top;
            }

            // song: L'Exil
            &.bg-song-3 {
                background-image: url("https://source.unsplash.com/fDcwEmqMJls/500x300");
                background-position: left center;
            }

            // song: Pas d'autre Monde
            &.bg-song-4 {
                background-image: url("https://source.unsplash.com/FPt10LXK0cg/500x300");
                background-position: left center;
            }

            // song: Post-it
            &.bg-song-5 {
                background-image: url("https://source.unsplash.com/r4QtHoDqk5w/500x300");
                // background-image: url("https://source.unsplash.com/UQZvynxNuqgo/500x300");
                background-position: left top;
            }

            // song: Si tu vas bien
            &.bg-song-6 {
                background-image: url("https://source.unsplash.com/iRbHr8jpmGw/500x300");
                background-position: right bottom;
            }

            // song: Blanc et Noire
            &.bg-song-7 {
                background-image: url("https://source.unsplash.com/O7JOmrK2YVs/500x300");
                
                background-position: left center;
            }

            // song: Des foules de toi
            &.bg-song-8 {
                background-image: url("https://source.unsplash.com/-xQoTg250qk/500x300");
                background-position: left center;
            }

            // song: J'ai pas les mots
            &.bg-song-9 {
                background-image: url("https://source.unsplash.com/5_Ez6yEh8EE/500x300");
                background-position: left center;
            }
            
        }
    }

}

