.tour {
    margin: 3rem 2rem;

    color: var(--theme-color_neutral);

    .tour-title {
        margin-bottom: 1.5rem;
        border-bottom: 1px solid var(--theme-color_neutral);
        
        font-size: 3rem;
        font-weight: 200;
        text-align: left;
    }

    .tour-body {

        .tour-event {
            max-width: 70rem;

            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: fit-content(100%);
            margin-bottom: 3.5rem;

            border-left: 3px solid var(--theme-color_important);
            padding-left: 1rem; // space between red-left-line and date. 

            @include media("md","max"){
                grid-template-columns: 17rem 1fr 1fr;
                grid-column-gap: 2rem;
                grid-row-gap: 3rem;
            }

            .tour-event-date {
                font-size: 1.6rem;
                font-weight: 200;
            }
            
            .tour-event-location {
                // margin-right: 1rem;
                font-size: 1.6rem;
                font-weight: 200;
                // color: #ff8300;
                color: hsl(192, 100%, 50%);

                .tour-event-mapIcon {
                    margin-left: 1rem;
                    // color:#ff8300;
                    color:hsl(192, 57%, 66%);
                }
            }
            
            .tour-event-city {
                font-size: 1.7rem;
                font-weight: 400;
                font-variant: petite-caps;
            }
        }
    }
}