.album {
    margin: 1rem;
                // border: 1px solid red;

    @include flex_col(flex-start, center);

    .album-title {
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 2.5rem;

        border-bottom: 2px solid var(--theme-color_neutral);

        text-align: left;
        font-size: 2.9rem;
        font-weight: 200;
        letter-spacing: 0.321em;
        color: var(--theme-color_important);

        .album-title-mention {
            font-size: 1.5rem;
            font-weight: 100;
            letter-spacing: normal;
        }
    }

    .album-img {
        width: 100%;
        @media #{$bigger-than-sm} {width: 510px;}
        // @media #{$bigger-than-md} {width: 100%;}
        // @media #{$bigger-than-lg} {width: 100%;}
        // @media #{$bigger-than-xl} {width: 100%;}
        
        margin-bottom: 2.5rem;
    }

    .album-songs-cards {
        width: 100%;
                                            // @include bordure(red);
        display: grid;
        grid-template-rows: 12rem;
        grid-auto-rows: 12rem;
        grid-gap: 1rem;

        grid-template-columns: repeat(1,1fr);
        /* @media #{$smaller-than-sm} {
        } */

        @media #{$bigger-than-sm} {
            grid-template-columns: repeat(2,1fr);
        }
        
        @media #{$bigger-than-md} {
            grid-template-columns: repeat(2,1fr);
        }
        
        @media #{$bigger-than-lg} {
            grid-template-columns: repeat(3,1fr);
        }
        
        @media #{$bigger-than-xl} {
            grid-template-columns: repeat(4,1fr);
        }
    }

        .horizontalCard {
                        // @include bordure(blue);

            width: 100%;
            min-height: 12rem;

            @include flex_row(stretch , stretch);
            // flex-wrap: nowrap;

            background-color: #777;
            border-radius: .6rem;
            background-size: cover; // put 100% to add effect
            background-repeat: no-repeat;

            &:hover {
                // background-color: #b4b4b4;
                // background-blend-mode: screen;

                border: 3px solid var(--theme-color_neutral);

                transition: background-size 1.5s ease-out;
                
                // background-position: center top;
                // background-size: 120%; // in case you put 100% just higher.
            
                .horizontalCard-link {

                    .horizontalCard-title {
                        // color: $darkred;
                        font-size: 2rem;
                        font-weight: 300;
                        // text-shadow: 0 0 0rem black;
                    }
                }

                
            }

            
            // -------------------------

            .horizontalCard-link {
                                        // @include bordure(red);
                // width: 100%;
                flex-grow: 1;

                @include flex_row(center, center);

                .horizontalCard-title {
                                                // @include bordure(yellow);
                    
                    font-size: 2rem;
                    font-weight: 300;
                    color: var(--theme-color_neutral);

                    text-shadow: 0 0 .5rem black;                
                }
            }

            .horizontalCard-btn {
                // height: 1rem;
                
                // position: relative;
                // left: 1rem;
                // top: 1rem;
            }
                  
        }

}




// song: Madison
.bg-song-0 {
    // background-image: url("https://source.unsplash.com/9upgIKSu5w8/500x300");
    background-image: url("../img/photos/album_madison_backgrounds/madison_madison.jpg");
    background-position: center center;
}

// song: Soif
.bg-song-1 {
    // background-image: url("https://source.unsplash.com/jB8WaHvHmoY/500x300");
    background-image: url("../img/photos/album_madison_backgrounds/madison_soif.jpg");
    background-position: center center;
}

// song: Le placard
.bg-song-2 {
    // background-image: url("https://source.unsplash.com/WKP4fdQPFto/500x300");
    background-image: url("../img/photos/album_madison_backgrounds/madison_le-placard.jpg");
    background-position: center center;
}

// song: L'Exil
.bg-song-3 {
    // background-image: url("https://source.unsplash.com/fDcwEmqMJls/500x300");
    background-image: url("../img/photos/album_madison_backgrounds/madison_lexil.jpg");
    background-position: left center;
}

// song: Pas d'autre Monde
.bg-song-4 {
    // background-image: url("https://source.unsplash.com/FPt10LXK0cg/500x300");
    background-image: url("../img/photos/album_madison_backgrounds/madison_pas-dautre-monde.jpg");
    background-position: 0% 70%;
}

// song: Post-it
.bg-song-5 {
    // background-image: url("https://source.unsplash.com/r4QtHoDqk5w/500x300");
    background-image: url("../img/photos/album_madison_backgrounds/madison_post-it.jpg");
    // background-image: url("https://source.unsplash.com/UQZvynxNuqgo/500x300");
    background-position: center center;
}

// song: Le Placard (instrumental)
.bg-song-6 {
    // background-image: url("https://source.unsplash.com/WKP4fdQPFto/500x300");
    background-image: url("../img/photos/album_madison_backgrounds/madison_le-placard-instru.jpg");
    background-position: 100% 34%;
}

// song: Si tu vas bien
.bg-song-7 {
    // background-image: url("https://source.unsplash.com/iRbHr8jpmGw/500x300");
    background-image: url("../img/photos/album_madison_backgrounds/madison_si-tu-vas-bien.jpg");
    background-position: 100% 80%;
}

// song: Blanc et Noire
.bg-song-8 {
    // background-image: url("https://source.unsplash.com/O7JOmrK2YVs/500x300");
    background-image: url("../img/photos/album_madison_backgrounds/madison_blanc-et-noir.jpg");
    
    background-position: left center;
}

// song: Des foules de toi
.bg-song-9 {
    // background-image: url("https://source.unsplash.com/-xQoTg250qk/500x300");
    background-image: url("../img/photos/album_madison_backgrounds/madison_des-foules-de-toi.jpg");
    background-position: left center;
}

// song: J'ai pas les mots
.bg-song-10 {
    // background-image: url("https://source.unsplash.com/5_Ez6yEh8EE/500x300");
    background-image: url("../img/photos/album_madison_backgrounds/madison_jai-pas-les-mots.jpg");
    background-position: left center;
}

// song: J'écrirai
.bg-song-11 {
    background-image: url("https://source.unsplash.com/5_Ez6yEh8EE/500x300");
    // background-image: url("../img/photos/album_madison_backgrounds/");
    background-position: left center;
}