.musiciens {
    margin: 0 $pageMargin;

    color: var(--theme-color_neutral);

    .musiciens-container {
        margin-bottom: 3rem;

        @include media("min","sm") {
            .musiciens-name {
                font-size: 1.4rem;

            }


            .musiciens-description {
                margin-bottom: .5rem;
                font-size: 1rem;
            }
            .musiciens-role {
                font-size: 1rem;
            }

        }

        .musiciens-name {
            grid-area: musiciens_name;

            border-top: 1px solid var(--theme-color_important);
            padding-top: 1rem;
            margin-bottom: 1rem;

            font-size: 1.8rem;
            font-weight: 300;
            line-height: 0.6; // space between top line and name

                .musiciens-name-lastname {
                    font-variant-caps: small-caps;
                    font-size: 2.1rem;
                    // color: var(--theme-color_important); // re-activate if you prefer lastnamename 
                }
        }

        .musiciens-2col {
            @include flex_col(flex-start, center);

            @include media("md","max"){
                @include flex_row(space-between, flex-start);
            }

            .musiciens-img {
                width: 100%;
                margin-bottom: 1rem;

                @include media("md","max"){
                    width: 50%;
                }
                
                @include media("xl","max"){
                    width: 40%;
                }
            }
        
            .musiciens-description {
                grid-area: musiciens_description;
                
                font-size: 1.3rem;
                font-weight: 100;
                    @include media("md","xl"){
                        width: 50%;
                        padding: 0 2rem;
                    }
                    @include media("xl","max"){
                        width: 60%;
                        padding: 0 2rem;
                        font-size: 1.8rem;
                    }
            }
        }

        .musiciens-role {
            text-align: right;
            font-size: 1.3rem;
            font-weight: 100;
            color: var(--theme-color_important);
        }

        .musiciens-bgphoto {
            grid-area: musiciens_photo;
            // height: 300px;
            // width: 100%;
            flex-grow: 1;
            // background-size: contain;
            @include background_size(contain);
            background-repeat: no-repeat;
            // background-position: 50% 10%;
            // background-attachment: fixed;
            // @include background_attachment(fixed);
        }

        .musiciens-bgphoto.img-thierry {
            background-image: url("../img/photos/musicians/photo_presentation_thierry.jpg");
        }
        .musiciens-bgphoto.img-simone {
            background-image: url("../img/photos/musicians/photo_presentation_simone.jpg");
        }
        .musiciens-bgphoto.img-nico {
            background-image: url("../img/photos/musicians/photo_presentation_nico.jpg");
        }
        .musiciens-bgphoto.img-romain {
            background-image: url("../img/photos/musicians/photo_presentation_romain.jpg");
        }
        .musiciens-bgphoto.img-nicole {
            background-image: url("../img/photos/musicians/photo_presentation_nicole.jpg");
        }
    }
}