
.body-adminpage
{
	background-image:none; // overright the global css rule (class-selector win over tag-selector)
}

.adminpage
{
	background-color: #ececec;

	// background-image: radial-gradient(#00007b,#030335);
	display: grid;

	@include media("md","max")
	{
		grid-template-columns: fit-content(100%) 1fr;
		grid-template-rows: 1fr;
	}

	.adminpage-aside {
		// height
		//width: 2rem; /* --- temporaire */
		// border-right: 1px solid white;
		// background: #001d8c;
		background: #084862;

		.adminpage-menus
		{
			@include media("min","md")
			{
				@include flex_row(space-evenly, center);
			}

			@include media("md","max")
			{
				@include flex_col(center, center);
			}
			.adminpage-menu
			{
				@include flex_row(center, center);
				
				@include media("min","md")
				{
					padding: 1rem .5rem .5rem .5rem;
				}

				@include media("md","max")
				{
					padding: .5rem .9rem;
					&:first-child
					{
						padding-top: 1.5rem;
					}
				}

				.adminpage-menu-link:any-link
				{
					color: white;

					@include media("min","md")
					{
						font-size: 1.5rem;
					}
					@include media("md","max")
					{
						font-size: 2.4rem;
					}
				}
			}
		}
	}

	.dashboard
	{
		margin-left: $pageMargin;
		margin-right: $pageMargin;

		height: 100rem; // REVIEW : Temporaire !

		.page-title
		{
			color: #333 !important; // overright global css rule
		}
		
		.dashboard-section
		{
			margin-bottom: 2rem;

			.dashboard-section-title
			{
				padding-top: 1rem;
				margin-bottom: 1rem;

				border-top: 1px solid #000ee4;

				color: #333 !important; // overright global css rule
				font-size: 2.1rem;
				font-weight: 300;
				font-variant-caps: small-caps;
				line-height: 0.6; // space between top line and name

			}
		}
	}
}

.formdatabase-container
{
	.formdatabase
	{
		.formdatabase-fields
		{
			display:grid; 
			grid-template-columns:fit-content(100%) 1fr; 
			row-gap:.2rem; 
			column-gap: 1rem;

			.formdatabase-label-container
			{
				background-color: #516875; 
				padding:.2rem .9rem;

				.formdatabase-label-text
				{

				}
			}
			textarea
			{
				resize: vertical;
			}

			[readonly] {
				cursor: not-allowed;
				color: hsl(0, 0%, 40.4%);
				font-style: italic;
				background-color: hsla(0, 0.8%, 74.7%, 0.5);
			}


			// input[type='text']
		}
		.formdatabase-buttons
		{
			margin-top: 1rem;
			@include flex_row(space-evenly, flex-start);
		}
	}
}
