.songs {
    margin: 1rem;
                // border: 1px solid red;


    .songs-list {
        // background: $darkred;
    }

    .horizontalCard-container {
                                            // @include bordure(red);
        display: grid;
        grid-template-rows: 12rem;
        grid-auto-rows: 12rem;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1rem;

        .horizontalCard {
                        // @include bordure(blue);

            width: 100%;

            @include flex_row(stretch , stretch);
            // flex-wrap: nowrap;

            background-color: #777;
            border-radius: .6rem;
            background-size: cover;
            background-repeat: no-repeat;

            &:hover {
                background-color: #757474;
                background-blend-mode: screen;
            
                .horizontalCard-link {

                    .horizontalCard-title {
                        font-size: 2rem;
                        font-weight: 400;
                    }
                
                }
            }

            // song: Madison
            &:nth-child(1) {
                background-image: url("https://source.unsplash.com/9upgIKSu5w8/500x300");
                background-position: top center;
            }

            // song: Soif
            &:nth-child(2) {
                background-image: url("https://source.unsplash.com/jB8WaHvHmoY/500x300");
                background-position: left center;
            }

            // song: Le placard
            &:nth-child(3) {
                background-image: url("https://source.unsplash.com/WKP4fdQPFto/500x300");
                background-position: center top;
            }

            // song: L'Exil
            &:nth-child(4) {
                background-image: url("https://source.unsplash.com/fDcwEmqMJls/500x300");
                background-position: left center;
            }

            // song: Pas d'autre Monde
            &:nth-child(5) {
                background-image: url("https://source.unsplash.com/FPt10LXK0cg/500x300");
                background-position: left center;
            }

            // song: Post-it
            &:nth-child(6) {
                background-image: url("https://source.unsplash.com/r4QtHoDqk5w/500x300");
                background-position: left top;
            }

            // song: Si tu vas bien
            &:nth-child(7) {
                background-image: url("https://source.unsplash.com/iRbHr8jpmGw/500x300");
                background-position: right bottom;
            }

            // song: Blanc et Noire
            &:nth-child(8) {
                background-image: url("https://source.unsplash.com/O7JOmrK2YVs/500x300");
                
                background-position: left center;
            }

            // song: Des foules de toi
            &:nth-child(9) {
                background-image: url("https://source.unsplash.com/-xQoTg250qk/500x300");
                background-position: left center;
            }

            // song: J'ai pas les mots
            &:nth-child(10) {
                background-image: url("https://source.unsplash.com/5_Ez6yEh8EE/500x300");
                background-position: left center;
            }

            
            // -------------------------

            .horizontalCard-link {
                                        // @include bordure(red);
                // width: 100%;
                flex-grow: 1;

                @include flex_row(center, center);

                .horizontalCard-title {
                                                // @include bordure(yellow);
                    
                    font-size: 2rem;
                    font-weight: 200;
                    color: white;

                    text-shadow: 0 0 .5rem black;                
                }
            }

        }
    }

}

